.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified .btn, .btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group-justified .btn .btn, .btn-group-justified .btn-group .btn {
    width: 100%;
}
.btn-group-justified .btn .dropdown-menu, .btn-group-justified .btn-group .dropdown-menu {
    left: auto;
}

.fit-width {
    width: 100%;
}

.apect-ratio-16x9 {
    min-height: 56.25%;
}

.player-container {

}

.player-viewport {
    position: relative;
}

.player-info {
    text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000;
    padding: 1em;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
}
